[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
translate = "*"
flask = "*"
flask-cors = "*"
pydub = "*"
speechrecognition = "*"
google-cloud = "*"
google-cloud-texttospeech = "*"
librosa = "*"
pandas = "*"
matplotlib = "*"
keras = "*"
numpy = "*"
keras-models = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
